<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>Mail Notifier Tray</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Applications/MailNotifierTray.app/Contents/MacOS/tray</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>RUST_LOG</key>
    <string>debug,rustls=info,hyper=info</string>

    <key>RUST_BACKTRACE</key>
    <string>1</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/mailbox-notifier.job.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/mailbox-notifier.job.out</string>
</dict>
</plist>
